body{
    font-family:'Merriweather', serif;
    background-color: #EFEFEF;
}

.title{
    text-align: center;
    margin: 30px 0;
}

li{
    list-style-type: circle;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    
}

h6, p{
    font-family: 'Cairo', sans-serif;
}